### Step1. Download the tiwitter data from object storage and display first 5 rows

In [16]:
import urllib.request
import ast
import pandas as pd 
import re

target_url="https://swift-yeg.cloud.cybera.ca:8080/v1/AUTH_233e84cd313945c992b4b585f7b9125d/geeky-summit/tweets.txt"
file_name="tweets.txt"
urllib.request.urlretrieve(target_url, file_name)
tweets = []
with open(file_name, 'r') as f:
    for lines in f.readlines():
        tweets.append(ast.literal_eval(lines))
frame  = pd.DataFrame(tweets)
frame.head()

,coordinates,created_at,extended_tweet,hashtags,lang,name,screen_name,text,user_location,user_mentions
0,None,Fri Nov 02 21:01:56 +0000 2018,@Symin16 I’d like to know who,[],en,♠,jessmayumba85,@Symin16 I’d like to know who,Toronto ✈ Calgary,"[{'indices': [0, 8], 'id': 1031043960968364034, 'screen_name': 'Symin16', 'id_str': '1031043960968364034', 'name': 'Cory Baxter'}]"
1,None,Fri Nov 02 21:02:01 +0000 2018,"@TwoCanSamAdams Legit. There are still chunks in the sink and I can’t stand to be in the room, even though it doesn’t smell like puke anymore. I’m just so done with today.",[],en,hannahrae cuddleslug,thimblewad,"@TwoCanSamAdams Legit. There are still chunks in the sink and I can’t stand to be in the room, even though it doesn… https://t.co/XSETO2wdOw",YYC,"[{'indices': [0, 15], 'id': 406677625, 'screen_name': 'TwoCanSamAdams', 'id_str': '406677625', 'name': 'TwoCan Jorge'}]"
2,"{'type': 'Point', 'coordinates': [-114.007914, 51.004583]}",Fri Nov 02 21:02:05 +0000 2018,"Can you recommend anyone for this #job in #Calgary, AB? https://t.co/20JiTB3cRi #SupplyChain #Hiring #CareerArc","[{'indices': [34, 38], 'text': 'job'}, {'indices': [42, 50], 'text': 'Calgary'}, {'indices': [80, 92], 'text': 'SupplyChain'}, {'indices': [93, 100], 'text': 'Hiring'}, {'indices': [101, 111], 'text': 'CareerArc'}]",en,TMJ - CAL Manuf Jobs,tmj_cal_manuf,"Can you recommend anyone for this #job in #Calgary, AB? https://t.co/20JiTB3cRi #SupplyChain #Hiring #CareerArc",Calgary,[]
3,None,Fri Nov 02 21:02:10 +0000 2018,Kids See Ghosts: https://t.co/J4phIy2CQy love this track,[],en,Sunny Rai,TheSunsRay,Kids See Ghosts: https://t.co/J4phIy2CQy love this track,🌎📱,[]
4,"{'type': 'Point', 'coordinates': [-114.0740046, 50.9978823]}",Fri Nov 02 21:02:13 +0000 2018,"See our latest #Calgary, AB #job and click to apply: barista - Store# 54359, CHINOOK CENTRE FOOD COURT - https://t.co/wfBXkfI1rr #Retail #Hiring #CareerArc","[{'indices': [15, 23], 'text': 'Calgary'}, {'indices': [28, 32], 'text': 'job'}]",en,TMJ-CAL Retail Jobs,tmj_cal_retail,"See our latest #Calgary, AB #job and click to apply: barista - Store# 54359, CHINOOK CENTRE FOOD COURT -… https://t.co/TwkPT1i4wn",Calgary,[]

### Step2. Understand the input data

In [2]:
print("Number of rows/columns:",frame.shape, "\n")
for column in frame.columns:
    if column=="user_mentions":
        rownum=1
    else :
        rownum=2
    print("Column name: {colname} \n Column type: {coltype} \n Column data(example): {coldata} \n\n"
          .format(colname=column, coltype=type(frame[column].iloc[rownum]),coldata=frame[column].iloc[rownum]))

Number of rows/columns: (14793, 10)

Column name: coordinates
 Column type: <class 'dict'>
 Column data(example): {'type': 'Point', 'coordinates': [-114.007914, 51.004583]}


Column name: created_at
 Column type: <class 'str'>
 Column data(example): Fri Nov 02 21:02:05 +0000 2018


Column name: extended_tweet
 Column type: <class 'str'>
 Column data(example): Can you recommend anyone for this #job in #Calgary, AB? https://t.co/20JiTB3cRi #SupplyChain #Hiring #CareerArc


Column name: hashtags
 Column type: <class 'list'>
 Column data(example): [{'indices': [34, 38], 'text': 'job'}, {'indices': [42, 50], 'text': 'Calgary'}, {'indices': [80, 92], 'text': 'SupplyChain'}, {'indices': [93, 100], 'text': 'Hiring'}, {'indices': [101, 111], 'text': 'CareerArc'}]


Column name: lang
 Column type: <class 'str'>
 Column data(example): en


Column name: name
 Column type: <class 'str'>
 Column data(example): TMJ - CAL Manuf Jobs


Column name: screen_name
 Column type: <class 'str'>
 Column data(example): tmj_cal_manuf


Column name: text
 Column type: <class 'str'>
 Column data(example): Can you recommend anyone for this #job in #Calgary, AB? https://t.co/20JiTB3cRi #SupplyChain #Hiring #CareerArc


Column name: user_location
 Column type: <class 'str'>
 Column data(example): Calgary


Column name: user_mentions
 Column type: <class 'list'>
 Column data(example): [{'indices': [0, 15], 'id': 406677625, 'screen_name': 'TwoCanSamAdams', 'id_str': '406677625', 'name': 'TwoCan Jorge'}]

 - **coordinates** - user coordinates, can be None or Python type Dict(need to be converted to String)
 - **created_at**  - date, Python type String need to be converted to type  Date (GST, need to be converted to MST?)
 - **extended_tweet** - extended_tweet  and text are the similar columns, extended_tweet has more data (how to show it?), we will use it instead of text
 - **hashtags** - hashtags,can be None or Python type List of Dicts(need to be converted to String)
 - **lang** - language, Python type Str
 - **name** - twitter account name, Python type Str
 - **screen_name** - screen name, python type Str
 - **text** - extended_tweet  and text are the similar columns, extended_tweet has more data (how to show it?), we will use it instead of text
 - **user_location** - location, python type Str
 - **user_mentions** - user mentions starting from @,Python type List of Dicts(need to be converted to String)

### Step4. Wrangling the data
#### Convert column "created_at"  from String to Date

In [3]:
frame["created_at"].iloc[2]

'Fri Nov 02 21:02:05 +0000 2018'

#### Convert coordinates to String

In [4]:
frame["coordinates"].iloc[2]

{'coordinates': [-114.007914, 51.004583], 'type': 'Point'}

#### Convert column "hashtags"  from Dict to Str

In [5]:
frame["hashtags"].iloc[2]

[{'indices': [34, 38], 'text': 'job'},
 {'indices': [42, 50], 'text': 'Calgary'},
 {'indices': [80, 92], 'text': 'SupplyChain'},
 {'indices': [93, 100], 'text': 'Hiring'},
 {'indices': [101, 111], 'text': 'CareerArc'}]

In [6]:
def convertHashToString(v):
    v=' '.join([d['text'] for d in v])
    return v
frame['hashtags_string']= frame['hashtags'].map(convertHashToString)
frame["hashtags_string"].iloc[2]

'job Calgary SupplyChain Hiring CareerArc'

#### Excersise: convert column "user_mentions" from Dict to Str

In [7]:
frame["user_mentions"].iloc[1]

[{'id': 406677625,
  'id_str': '406677625',
  'indices': [0, 15],
  'name': 'TwoCan Jorge',
  'screen_name': 'TwoCanSamAdams'}]

In [24]:
def convertUserToString(v):
    v=' '.join([d['screen_name'] for d in v])## type something here (this line will be commented out)
    return v
frame['user_string']= frame['user_mentions'].map(convertUserToString)
frame["user_string"].iloc[1]

'TwoCanSamAdams'

### Step5. Cleaning the data

In [25]:
pd.set_option('max_colwidth', 700)
frame['extended_tweet'].head(10)

0                                                                                                                                                                                                                                                                                @Symin16 I’d like to know who
1                                                                                                                                  @TwoCanSamAdams Legit. There are still chunks in the sink and I can’t stand to be in the room, even though it doesn’t smell like puke anymore. I’m just so done with today.
2                                                                                                                                                                                              Can you recommend anyone for this #job in #Calgary, AB? https://t.co/20JiTB3cRi #SupplyChain #Hiring #CareerArc
3                                                                                                                                                                                                                                                     Kids See Ghosts: https://t.co/J4phIy2CQy love this track
4                                                                                                                                                  See our latest #Calgary, AB #job and click to apply: barista - Store# 54359, CHINOOK CENTRE FOOD COURT - https://t.co/wfBXkfI1rr #Retail #Hiring #CareerArc
5    Watered by hand, harvested by hand, trimmed by hand. Each individual plant gets its own dedicated care and attention, tailored to its growth cycle. \n\n"Our plants get the love they deserve.” – David Isaak, Founder. 💚\n\n#HandcraftingCannabis #HandCultivation #CraftCulture https://t.co/eBBtjPhW8A
6                                     https://t.co/IVq1D6K3az Please read and share and donate ten bucks. There are 5 homeless memorials in Canada and Calgary needs to be #6. This is important. This is the starting point of our Campaign and we need to get to $10000. Give us a hand please and thank you
7                                                                                                                                                                See our latest #Calgary, AB #job and click to apply: School Bus Driver - Calgary - https://t.co/ddcbozNfGC #Transportation #Hiring #CareerArc
8                                                                                                                                                                                       Join the UPS team! See our latest #job opening here: https://t.co/FdrUDZLldk #Clerical #Calgary, AB #Hiring #CareerArc
9                                                                                                                                                                                                                                                                                @kdlang HAPPY BIRTHDAY!!!!!!!
Name: extended_tweet, dtype: object

####  Remove URLS

In [26]:
frame['extended_tweet']=frame['extended_tweet'].str.replace('http\S+|www.\S+', '', case=False)
#frame[frame['extended_tweet'].str.contains("amp")]['extended_tweet'].head()

#### Remove &amp

In [27]:
frame['extended_tweet']=frame['extended_tweet'].str.replace('&amp',' ')

#### Excersise: remove '/n' (new line symbol) from 'extended_tweet' column

In [28]:
frame['extended_tweet']=frame['extended_tweet'].str.replace('\n',' ') ### this will be commented out

#### Remove user mentions and hashtags from the 'extended_tweet' column and save it as 'tweet_no_hashtags' column

In [29]:
frame['tweet_no_hashtags']=frame['extended_tweet'].str.replace('[@#]\w+', ' ',case=False)
frame['tweet_no_hashtags'].head(10)

0                                                                                                                                                                                                                                I’d like to know who
1                                                                                         Legit. There are still chunks in the sink and I can’t stand to be in the room, even though it doesn’t smell like puke anymore. I’m just so done with today.
2                                                                                                                                                                                                Can you recommend anyone for this   in  , AB?
3                                                                                                                                                                                                                   Kids See Ghosts:  love this track
4                                                                                                                                               See our latest  , AB   and click to apply: barista - Store# 54359, CHINOOK CENTRE FOOD COURT -
5                     Watered by hand, harvested by hand, trimmed by hand. Each individual plant gets its own dedicated care and attention, tailored to its growth cycle.   "Our plants get the love they deserve.” – David Isaak, Founder. 💚
6     Please read and share and donate ten bucks. There are 5 homeless memorials in Canada and Calgary needs to be  . This is important. This is the starting point of our Campaign and we need to get to $10000. Give us a hand please and thank you
7                                                                                                                                                                     See our latest  , AB   and click to apply: School Bus Driver - Calgary -
8                                                                                                                                                                                      Join the UPS team! See our latest   opening here:     , AB
9                                                                                                                                                                                                                               HAPPY BIRTHDAY!!!!!!!
Name: tweet_no_hashtags, dtype: object

#### Any other cleaning - emoji,punctuation, numbers, special characters? or in later notebooks?

### Step 6. Subset only columns we need and save the cleaed dataset

In [14]:
#frame_cleaned=frame[['']]
#frame_cleaned.to_csv('tweetes_cleaned.csv')